.friendMessage {

}

.friendImageAndText {

    width: 525px;
    height: 60px;
}

.friendImageAndText img {

}

.friendText {
    background: rgba(0, 102, 204, 1);
}

.friendText:after {

}

.friendName {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    width: 40px;
    height: 22px;


}

.friendMessageText {

}

.friendTime {

}
